@model Order
<h1> Order Id: @Model.Id </h1>
<h1> User creator Id: @Model.User.Id </h1>
<div class="row">
    <div class="col-3">
        <form asp-controller="DbView" asp-action="AddItemToOrder" method="post">

            <input type="hidden" name="OrderId" value="@Model.Id" />
            <input type="number" name="ItemId" placeholder="item id" />
            <button class="btn btn-success" type="submit">Add</button>
        </form>
    </div>
   <div class="col-2">
        <form asp-controller="DbView" asp-action="RemoveOrder" method="post">
            <input type="hidden" name="OrderId" value="@Model.Id" />
            <button class="btn btn-danger" type="submit">Remove Order</button>
        </form>
   </div>
</div>
<div>
    <table class="table table-responsive table-sm">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>IsDeleted</th>
                <th>Action</th>
            </tr>

        </thead>
        <tbody>
            @{
                if (Model.Items != null)
                    foreach (Item item in Model.Items)
                    {
                        if (item.isDeleted)
                        {
                            <text>
                            <tr class="text-decoration-line-through">
                                <th>@item.id </th>
                                <td>@item.name </td>
                                <td>@item.description </td>
                                <td>@item.isDeleted </td>
                                <td>
                                    <form asp-controller="DbView" asp-action="RemoveFromOrder" method="post">
                                        <input type="hidden" name="OrderId" value="@Model.Id" />
                                        <input type="hidden" name="ItemId" value="@item.id" />
                                        <button class="btn btn-danger" type="submit">Remove</button>
                                    </form>
                                </td>
                            </tr>
                            </text>
                        }
                        else
                        {
                            <text>
                            <tr class="">
                                <th>@item.id </th>
                                <td>@item.name </td>
                                <td>@item.description </td>
                                <td>@item.isDeleted </td>
                                <td>
                                    <form asp-controller="DbView" asp-action="RemoveFromOrder" method="post">
                                        <input type="hidden" name="OrderId" value="@Model.Id" />
                                        <input type="hidden" name="ItemId" value="@item.id" />
                                        <button class="btn btn-danger" type="submit">Remove</button>
                                    </form>
                                </td>
                            </tr>
                            </text>
                        }
                    }
            }
        </tbody>
    </table>
</div>
